.BookImgContainer{
    background-color: #553cdf;
    font-family: sans-serif;
}
.BookImgContainer img{
    width: 270px;
}
.firstEventText{
    font-size: 40px;
    color: white;
    font-weight: 600;
    margin-bottom: 15px;
}
.SecondEventText{
    font-size: 19.9px;
    font-weight: 400;
    color: white;
}
.EventImgContainer{
    margin-top: 100px;
}
.EventImgContainer img{
    border-radius:10px;
    width: 100%;
    height: auto;
}
.headerOfEvent{
    font-size: 24px;
    font-weight: 700;
}
.EventImgContainer i{
    color: #553cdf;
    font-size: 21px;
}
.textOFTheHeader{
    line-height: 26px;
    font-size: 16px;
    color: #737477;
    font-weight: 500;
}

.arrowHeadingText{
    display: block;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
}
.arrowSecondText{
    line-height: 26px;
    font-size: 16px;
    color: #737477;
    font-weight: 500;
}

.iconsOfBox{
    height: 50px!important;
    width: 50px!important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(210, 209, 209);
}
.iconsOfBox i{
    margin-left: 10px!important;
}

.eventInfo , .eventVenueInfo{
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid rgb(208, 208, 208);
}
.eventInfoContainer{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    border-bottom: 1px solid rgb(206, 204, 204);
    margin-bottom: 20px;
}
.eventInfo hr{
    background-color: black;
    margin-bottom: 22px;
    margin-top: 22px;
}

.bookNowBtn button{
    background-color: #553cdf;
    color: white;
    height: 55px;
}
.bookNowBtn button:hover{
    border: #553cdf 1px solid;
    color: #553cdf;
}

iframe{
    height: 100%;
    width: 100%;
}

.textOFTheContHeader{
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.largeHeaderOfEvent{
    font-size: 36px;
    font-weight: 600;
}



@media (max-width:1024px){
    .pencileBook{
        display: none;
    }
}