.homeCoursesBtn{
    background-color: #ebe9e9;
    font-size: 14px;
    margin-right: 8px;
    font-weight: 500;
    color: #553cdf;
    border-radius: 3px;
    border: none;
}
.homeCoursesBtnactive{
    background-color: #553cdf;
    color: #ebe9e9;
}


.saveIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.336);
    border-radius: 50%;
    padding: 10px 12px;
    height: 18px;
    width: 14px;
    cursor: pointer;
  }
  .saveIcon:hover {
    background: #553cdf;
  }