/* .button {
  display: flex;
  justify-content: center;
} */
.scrollButton {
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    background: #553cdf;
    cursor: pointer;
    z-index: 1000;
    border: none;
  }
  
  .scrollButton:hover {
    background-color: #543cdfa7;
  }
  
  .scrollButton span {
    display: inline-block;
    font-size: 20px;
    transform: rotate(-90deg);
    margin-left: -2px;
  }
  