.Profile{
    background-color:  #8466e5;
    height: 40vh;
    border-radius: 10px;
    position: relative;
}
.profileImg{
position: relative;
top:27%;
left: 5%;
border-radius: 50%;
overflow: hidden;
border: 8px solid white;
width: 200px;
height: 200px;
}
.profileText{
    position: absolute;
    left: 25%;
    color: aliceblue;
}
.profileInfo{
    display: none;
}
@media (max-width: 1100px) {
    .profileText{
        display: none;
    }
    .profileImg{
        position: relative;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%; /* Adjust the size as needed */
        max-width: 200px;
    }
    .profileInfo{
        display: grid; 
        justify-content: center;
        place-content: center;
        margin-top: 19%;
        height: 30vh;
        text-align: center; 
        
    }
}