.CarouselCenterText{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.carouselDotStudentsFeedBack {
    color: white!important;
    padding: 20px;
    background-color: #553cdf;
    border-radius: 5px;
    text-align: left;
    position: relative!important;
    z-index: 1!important;
  }
  .carouselDotStudentsFeedBack img{
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .carouselDotStudentsFeedBackText {
    
    display: flex;
    align-items: center;
  
  }
  .carouselDotStudentsFeedBack p{
    font-size: 22px;
    font-family: sans-serif;
  }
  .carouselDotStudentsFeedBack text{
    display: block;
    color: white;
  }
  .carouselDotStudentsFeedBack .FeedBackFirstText{
    font-size: 22px;
    font-weight: 500;
  }
  .carouselDotStudentsFeedBack .FeedBackSecondText{
    font-size: 17px;
    font-weight: 500;
  }
  .carouselDotStudentsFeedBack .starSpanForGold{
    margin-right: 8px;
    color: gold!important;
  }
  