/** @format */
.content {
  margin-top: 80px;
}
.certificateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: white;
  border-radius: 12px;
  max-width: 75%;
  height: auto;
  margin: 0 auto;
  gap: 20px;
}

.textContainer {
  flex: 1;
  max-width: 40%;
}

.imageContainer {
  max-width: 100%;
}

.heading {
  font-size: 42px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}

.heading span {
  color: #ff5003;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  font-size: 20px;
  color: #494949;
}
.symbol {
  margin-right: 15px;
}
.btn {
  position: relative;
}

.imageContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.certificateImage {
  width: 100%;
  height: 400px;
  border-radius: 8px;
}

@media (max-width: 376px) {
  .content {
    width: 100%;
  }
  .certificateContainer {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    padding: 15px;
  }
  .textContainer {
    max-width: 100%;
  }
  .heading {
    font-size: 24px;
    display: flex;
    justify-content: center;
  }
  .descriptionContainer {
    display: flex;
    justify-content: center;
  }
  .description {
    font-size: 16px;
    line-height: 0;
  }
  .symbol {
    font-size: 25px;
  }
}

@media (min-width: 377px) and (max-width: 1024px) {
  .content {
    width: 100%;
  }
  .certificateContainer {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    padding: 15px;
  }
  .imageContainer {
    width: 100%;
  }
  .certificateImage {
    width: 100%;
    height: 80vh;
  }
  .textContainer {
    max-width: 100%;
  }
  .heading {
    font-size: 34px;
    display: flex;
    justify-content: center;
  }
  .descriptionContainer {
    display: flex;
    justify-content: center;
  }
  .description {
    font-size: 22px;
    line-height: 0;
  }
  .symbol {
    font-size: 25px;
  }
  .btn {
    width: 100%;
  }
}
