/** @format */

.pointsBlock {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 60px;
    background-color:#ffffff16;
    /* background-color: #17144c; */
    border:1px solid rgba(255, 255, 255, 0.272);
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
  }
  .modalStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  