.homeLeftSide ,.homeRightSide{
  font-family: "Hind", sans-serif!important;
  font-style: normal!important;
}
.homeLeftSide{
    display: flex;
    align-items: center;
}
/* css of bulbSpan
buleText
greyText availile at index.css

*/
.homeLeftSide .title{
    font-size: 60px;
    font-weight: 600;
    color: #221859;
    /* line-height: 64px; */
    /* max-height: 132px; */
  }
.homeLeftSide .imgIcons img{
    height: 45px;
    width: 45px;
    padding: 3px;
    background-color: white;
    border-radius: 50%;
}
.homeLeftSide .imgIcons img:hover{
    transform: scale(1.1);
}
.homeLeftSide .imgIcons .plusIcon:hover{
    transform: scale(1.1);
}
.homeLeftSide .imgIcons .secondIconImg{
    margin-left: -10px;
}
.homeLeftSide .imgIcons .thirdIconImg{
    margin-left: -10px;
    background-color:white;
}
.homeLeftSide .imgIcons .plusIcon{
    margin-left: -42.5px;
    margin-top: 3px;
    color: white;
    font-size: 20px;
    background-color: #553cdf;
    opacity: 0.5;
    height: 39px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.homeLeftSide .studentNoText{
    display: inline;
    font-weight: 600;
    line-height: 24px;
    font-size: 24px;
    color: #221859;
}
.homeLeftSide button{
    width: 226px;
    height: 55px;
    background-color: #553cdf;
    color: white;
}
.homeLeftSide button:hover{
    color: #553cdf;
    background-color: white;
    border: solid 2px #553cdf;
}


.homeRightSide{
    display:grid;
    grid-template-columns: auto ;
    grid-template-rows: auto;
    place-content: center;
    place-items:end ;
    position: relative;
}
.homeRightSide .homePic{
    /* width: 100%; */
    grid-area: 1/1;
    z-index: 40;
}
.homeRightSide  .flowtingBtnFirst {
    font-weight: 500;
    font-size: 24px;
    color: #221859;
}
.homeRightSide  .flowtingBtnGreyText{
    color: #221859;
}
.forFlowingBtn{
    gap: 4;
    grid-area: 1/1;
    z-index: 60;
    animation: bouncing 10s ease-in-out infinite;
    
}
.forFlowingBtn img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
@keyframes bouncing{
    0%{
        transform: translate(0px,20px);
    }
    50%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,20px);
    }
}
.homeRightSide .flowtingRightBtn,.flowtingLeftBtn{
    height: 67px;
    width: 190px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 19;
    background-color: white;
   border: #221859 1px solid;

}
.homeRightSide  .flowtingLeftBtn{
    z-index: 10;
    position: relative;
    top: -170px;
    left: -500px;
}
.homeRightSide .flowtingRightBtn{
    z-index: 10;
    margin-bottom: 30px;
}

@media (max-width:1430px){
    .homeRightSide  .flowtingLeftBtn{
        position: relative;
        top: -100px;
        left: -400px;
    }
    
}
@media (max-width:1250px){
    .homeRightSide  .flowtingLeftBtn{
        position: relative;
        top: -100px;
        left: -280px;
    }
    .homeLeftSide .title{
        font-size: 38px;
    }
}
@media (max-width:1030px){
    .homeRightSide  .flowtingLeftBtn{
        position: relative;
        top: -80px;
        left: -200px;
    }
    .homeRightSide .flowtingRightBtn{
        margin-bottom: -30px;
    }
    .homeLeftSide .title{
        font-size: 36px;
    }
}
@media (max-width:992px){
    .homeRightSide  .flowtingLeftBtn{
        position: relative;
        top: -80px;
    }
    .homeRightSide .flowtingRightBtn{
        margin-bottom: -30px;
    }

    .homeRightSide  .flowtingBtnFirst {
        font-size: 21px;
        color: #221859;
    }
    .homeLeftSide .title{
        font-size: 32px;
    }
}

@media (max-width:768px){
    .homeLeftSide .title{
        font-size: 26px;
    }
    #homeLeftSide{
        order: 1;
    } 
    #homeLeftSide{
        order: 2;
    }
    
.homeRightSide{
    place-items:center ;
}


    .homeRightSide  .flowtingLeftBtn{
        position: relative;
        top: 170px;
        left: -60px;
    }
    .homeRightSide .flowtingRightBtn{
        margin-left: 60px;
        margin-bottom: 10px;
    }
    .homeRightSide  .flowtingBtnFirst {
        font-size: 19px;
        color: #221859;
    }
    .homeRightSide{
        margin-bottom: 20px;
    }
}

@media (max-width:400px){
    .homeRightSide  .flowtingLeftBtn{
        position: relative;
        left: 0;
    }
    .homeLeftSide{
        margin-top: 40px;
    }
}

@media (max-width:235px){
    .homeRightSide  .flowtingLeftBtn{
        position: relative;
    }
    .homeRightSide .flowtingRightBtn{
        margin-bottom: 0px;
        margin-left: 0px;
    }
}

.yellowLine{
    margin-top: -40px!important;
    height: auto;
    width: auto;
    margin-left: 42%;
}
@media (max-width:400px) {
    .yellowLine{
        margin-top: -26px!important;
        margin-left: 20% !important;
        }
}
@media(min-width:400.4px) and (max-width:580px){
    .yellowLine{
        margin-top: -26px!important;
        margin-left: 0% !important;
        }
}
@media(min-width:580.4px) and (max-width:768px){
    .yellowLine{
    margin-top: -26px!important;
    margin-left: 65% !important;
    }
}

@media (min-width:768px) and (max-width:816px){
    .yellowLine{
    margin-left: 0%;
    margin-top: -26px!important;
    }
}
@media (min-width:816px) and (max-width:964px) {
    .yellowLine{
        margin-left: 20%!important;
        margin-top: -26px!important;
        }
}
@media (min-width:964.4px) and  (max-width:992px){
    .yellowLine{
    margin-left: 0%;
    margin-top: -26px!important;
    }
}
@media (min-width:992px) and (max-width:1250.5px){
    .yellowLine{
    margin-left: 20%;
    margin-top: -26px!important;
    }
}
@media(min-width:1250px){
     .yellowLine{
    margin-left: 20%;
        width: 30%;
    }
    .fullHome{
        height: 80vh;
    }
    
}
@media (max-width:375px) {
    .studentNoText{
    font-weight: 400;
    line-height: 16px;
    font-size: 16px!important;
    }
    .greyTextStyle{
        font-size: 14px;
    }
}
