.card_adobe { background: linear-gradient(to right, #006eff, #bd2569); color: white; }
.card_photoshop { background: #a431f0; color: white; }
.card_illustrator { background: #FF9A00; color: black; }
.card_acrobat { background: #D40000; color: white; }
.card_premiere { background: #1A1A1A; color: #ffffff; }
