/** @format */

.headerContainer {
  width: 100%;
  height: auto;
  margin-bottom:-150px;
  overflow: hidden;
  position: relative;
}

.highlightedWord {
  color: #ff5003;
  font-weight: bold;
}

.backgroundImage {
  width: 100%;
  height: auto;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.contentContainer {
  background: white;
  width: 75%;
  height: 70vh;
  margin: 15px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: start;
  padding: 70px 50px 30px;
  border-radius: 20px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 15px 25px 10px rgba(174, 174, 174, 0.582);
}

.FollowerImage {
  width: 150px;
  height: auto;
}

.symbolsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
  margin-bottom: 20px;
}

.symbolItem {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
}

.symbolText {
  font-family: sans-serif;
  font-size: 14px;
  color: #2d2d2d;
}
.symbol {
  width: 32px;
  height: 32px;
}

.EnrollButtonContent {
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin-top: 10px; */
}

.FollowerStars {
  display: flex;
  gap: 5px;
}

.star {
  width: 20px;
  height: auto;
}

.FollowerCount {
  font-size: 0.9rem;
  color: #333;
  margin-top: 5px;
  text-align: center;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10px;
}

.HeaderPicture {
  width: 75%;
  position: relative;
  top: -20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 30px;
}
.headerImage {
  width: 100%;
  height: auto;
}

.headerText {
  padding-top: 30px;
  margin-bottom: -5px;
  text-align: left;
  font-family: sans-serif;
  max-width: 90%;
  height: auto;
  margin-top: -20px;
  color: black;
  font-size: 42px;
  font-weight: 700;
}
.professorTitle {
  margin-top: -10px;
}

.professorTitle h3 {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}

.professorTitle p {
  font-size: 1rem;
  color: #666;
  margin: 5px 0 0 0;
}

/* Scroll Section */
.scrollSection {
  text-align: center;
  z-index: 1;
  position: relative;
  top: 10px;
  height: 180px;
}

.scrollSection p {
  color: #333;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: sans-serif;
}

.logo {
  width: 250px;
  padding-left: 80px;
  height: 60px;
}

.logoContainer {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logoScroll1,
.logoScroll2 {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 30px;
}

.logoScroll1 {
  animation: scroll-left 20s linear infinite;
}

.logoScroll2 {
  animation: scroll-right 20s linear infinite;
}

.companyName {
  width: 100px;
  margin: 0 30px;
}

/* Keyframes for Scroll Animation */
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* DoughtsPart */
.DoughtsPart {
  text-align: center;
  padding-top: 180px;
}

.header2 {
  color: black;
  font-weight: 550;
  font-size: 56px;
}

.header1 {
  color: #707070;
  font-weight: 700;
  font-size: 32px;
  margin: 5px 0;
}

.redLine {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.6s ease, transform 0.6s ease;
  position: relative;
  top: -75px;
  left: 2rem;
}

.redLineVisible {
  opacity: 1;
  transform: translateX(0);
}

.DoughtsPartVisible {
  opacity: 1;
  transform: translateY(0);
}

/* Add to Header.module.css */
.SelfQuestioning {
  margin-top: -150px;
  display: flex;
  justify-content: center;
  /* padding-bottom: 20px; */
}

.questionItem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  position: relative;
  bottom: 20px;
}

.questionItem p {
  font-size: 16px;
  font-weight: 600;
  max-width: 320px;
  margin: 0;
  text-align: left;
}

.questionIcon {
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

/* media queries */
@media (max-width: 376px) {
  .headerContainer {
    width: 100%;
  }

  .contentContainer {
    width: 90%;
    padding: 25px 20px;
    margin: 15px auto;
    flex-direction: column;
    box-shadow: none;
    border: 1px solid rgba(97, 97, 255, 0.311);
    height: auto;
  }

  .FollowerImage {
    width: 120px;
  }

  .symbolsContainer {
    width: 100%;
    gap: 5px;
  }

  .symbolItemContent {
    position: relative;
    bottom: -350px;
  }

  .symbolItem {
    gap: 10px;
    padding-bottom: 13px;
  }

  .symbolText {
    font-size: 14px;
    max-width: 400px;
  }

  .EnrollButtonContent {
    position: relative;
    top: 320px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .EnrollButton {
    visibility: hidden;
    display: none;
  }

  .FollowerStars {
    gap: 3px;
  }

  .star {
    width: 16px;
  }

  .FollowerCount {
    font-size: 0.8rem;
  }

  .HeaderPicture {
    width: 115%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: -320px;
    gap: 20px;
  }

  .headerText {
    position: relative;
    top: 15px;
    font-size: 28px;
    margin-bottom: 10px;
    max-width: 100%;
    text-align: center;
  }

  .professorTitle h3 {
    font-size: 1rem;
  }

  .professorTitle p {
    font-size: 0.9rem;
  }

  .scrollSection {
    height: 100px;
    top: 5px;
  }

  .scrollSection p {
    font-size: 14px;
    font-weight: 600;
  }

  .logoContainer {
    padding: 10px;
  }

  .logoScroll1,
  .logoScroll2 {
    padding: 15px;
  }

  .companyName {
    width: 70px;
    margin: 0 15px;
  }

  .DoughtsPart {
    padding-top: 200px;
    z-index: 1000;
  }

  .header2 {
    font-size: 32px;
  }

  .header1 {
    font-size: 24px;
  }

  .redLine {
    width: 50%;
    height: 10pvh;
    position: relative;
    left: 0;
    top: -32px;
  }

  .SelfQuestioning {
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }

  .questionItem {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    z-index: 1000;
  }

  .questionItem p {
    font-size: 16px;
    max-width: 90%;
    text-align: center;
    z-index: 1000;
  }
}
@media (min-width: 377px) and (max-width: 440px) {
  .testimonials{
    position: relative;
    top: 150px;
  }

  .headerContainer {
    width: 100%;
  }

  .contentContainer {
    width: 95%;
    padding: 20px;
    margin: 20px auto;
    flex-direction: column;
    box-shadow: none;
    border: 1px solid rgba(97, 97, 255, 0.2);
    height: auto;
  }

  .FollowerImage {
    width: 150px;
  }

  .symbolsContainer {
    width: 100%;
    gap: 10px;
  }
  .symbol {
    width: 18px;
    height: 18px;
  }
  .symbolItemContent {
    position: relative;
    top: 420px;
    left: 10px;
  }

  .symbolItem {
    gap: 15px;
    padding-bottom: 15px;
    text-align: center;
  }

  .symbolText {
    text-align: left;
    font-size: 14px;
    max-width: 500px;
  }

  .EnrollButtonContent {
    position: relative;
    top: 380px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .EnrollButton {
    visibility: visible;
    display: block;
    font-size: 16px;
    padding: 12px 20px;
  }

  .FollowerStars {
    gap: 5px;
  }

  .star {
    width: 20px;
  }

  .FollowerCount {
    font-size: 0.9rem;
  }

  .HeaderPicture {
    width: 115%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: -300px;
    gap: 25px;
  }

  .headerText {
    position: relative;
    top: 18px;
    font-size: 28px;
    margin-bottom: 15px;
    max-width: 90%;
    text-align: center;
  }

  .professorTitle h3 {
    font-size: 1.2rem;
  }

  .professorTitle p {
    font-size: 1rem;
  }

  .scrollSection {
    height: 100px;
    top: 10px;
  }

  .scrollSection p {
    font-size: 20px;
    max-width: 95%;
  }

  .logoContainer {
    padding: 15px;
  }

  .logoScroll1,
  .logoScroll2 {
    padding: 20px;
    margin-bottom: 15px;
  }

  .companyName {
    width: 80px;
    margin: 0 15px;
  }

  .DoughtsPart {
    margin-top: 200px;
  }

  .header2 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .header1 {
    font-size: 28px;
  }

  .redLine {
    display: none;
  }

  .SelfQuestioning {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
  }

  .questionItem {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .questionItem p {
    font-size: 18px;
    max-width: 90%;
    text-align: center;
  }
}

@media (min-width: 441px) and (max-width: 767px) {
  .testimonials{
    position: relative;
    top: 150px;
  }
  .headerContainer {
    width: 100%;
  }

  .contentContainer {
    width: 95%;
    padding: 20px;
    margin: 20px auto;
    flex-direction: column;
    box-shadow: none;
    border: 1px solid rgba(97, 97, 255, 0.2);
    height: auto;
  }

  .FollowerImage {
    width: 150px;
  }

  .symbolsContainer {
    width: 100%;
    gap: 10px;
  }

  .symbolItemContent {
    position: relative;
    top: 450px;
  }

  .symbolItem {
    gap: 15px;
    padding-bottom: 15px;
    text-align: left;
  }

  .symbolText {
    font-size: 16px;
    max-width: 500px;
  }

  .EnrollButtonContent {
    position: relative;
    top: 550px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .EnrollButton {
    visibility: visible;
    display: block;
    font-size: 16px;
    padding: 12px 20px;
  }

  .FollowerStars {
    gap: 5px;
  }

  .star {
    width: 20px;
  }

  .FollowerCount {
    font-size: 0.9rem;
  }

  .HeaderPicture {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: relative;
    top: -300px;
    left: -16px;
    gap: 25px;
  }

  .headerText {
    position: relative;
    top: 26px;
    font-size: 28px;
    margin-bottom: 15px;
    max-width: 95%;
    text-align: center;
  }

  .professorTitle h3 {
    font-size: 1.2rem;
  }

  .professorTitle p {
    font-size: 1rem;
  }

  .scrollSection {
    height: 100px;
    top: 10px;
  }

  .scrollSection p {
    font-size: 20px;
    max-width: 95%;
  }

  .logoContainer {
    padding: 15px;
  }

  .logoScroll1,
  .logoScroll2 {
    padding: 20px;
    margin-bottom: 15px;
  }

  .companyName {
    width: 80px;
    margin: 0 15px;
  }

  .DoughtsPart {
    margin-top: 170px;
  }

  .header2 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .header1 {
    font-size: 28px;
  }

  .redLine {
    display: none;
  }

  .SelfQuestioning {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
  }

  .questionItem {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .questionItem p {
    font-size: 18px;
    max-width: 90%;
    text-align: center;
  }
  .EnrollButtonContent {
    position: relative;
    top: 400px;
  }
}

@media (min-width: 768px) and (max-width: 920px) {
.testimonials{
  position:relative;
  top: 50px;
}
  .headerContainer {
    width: 100%;
    height: auto;
  }

  .contentContainer {
    width: 95%;
    padding: 35px 30px;
    margin: 25px auto;
    flex-direction: column;
    box-shadow: none;
    border: 1px solid rgba(97, 97, 255, 0.311);
    height: auto;
  }

  .FollowerImage {
    width: 180px;
  }

  .symbolsContainer {
    width: 100%;
    gap: 15px;
  }

  .symbolItemContent {
    position: relative;
    top: 650px;
    left: 100px;
  }

  .symbolItem {
    gap: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .symbolText {
    font-size: 18px;
    max-width: 600px;
  }

  .EnrollButtonContent {
    position: relative;
    top: 650px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .EnrollButton {
    visibility: visible;
    display: block;
    font-size: 18px;
    padding: 14px 25px;
  }

  .FollowerStars {
    gap: 8px;
  }

  .star {
    width: 24px;
  }

  .FollowerCount {
    font-size: 1rem;
  }

  .HeaderPicture {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: -420px;
    gap: 35px;
  }

  .headerText {
    font-size: 64px;
    margin-bottom: 20px;
    max-width: 95%;
    text-align: center;
  }

  .professorTitle h3 {
    font-size: 1.4rem;
  }

  .professorTitle p {
    font-size: 1.1rem;
  }

  .scrollSection {
    height: 130px;
    top: 15px;
  }

  .scrollSection p {
    font-size: 24px;
    max-width: 70%;
    position: relative;
    left: 125px;
  }

  .logoContainer {
    padding: 10px;
  }

  .logoScroll1,
  .logoScroll2 {
    padding: 25px;
    /* margin-bottom: 20px; */
  }
  .logo {
    height: 45px;
  }
  .companyName {
    width: 100px;
    margin: 0 25px;
  }

  .DoughtsPart {
    margin-top: 40px;
  }

  .header2 {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .header1 {
    font-size: 30px;
  }

  .redLine {
    display: none;
  }
  .SelfQuestioning {
    margin-top: 0;
    height: 250px;
  }

  .questionItem {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
  }

  .questionItem p {
    font-size: 20px;
    max-width: 95%;
    text-align: center;
  }
}

@media (min-width: 921px) and (max-width: 1024px) {
  .headerContainer {
    width: 100%;
  }

  .contentContainer {
    width: 90%;
    padding: 25px 20px;
    margin: 15px auto;
    flex-direction: column;
    box-shadow: none;
    border: 1px solid rgba(97, 97, 255, 0.509);
    height: auto;
  }

  .FollowerImage {
    width: 120px;
  }

  .symbolsContainer {
    width: 100%;
    gap: 5px;
  }

  .symbolItemContent {
    position: relative;
    top: 680px;
    left: 20%;
  }

  .symbolItem {
    gap: 10px;
    padding-bottom: 13px;
  }

  .symbolText {
    font-size: 18px;
    max-width: 600px;
  }

  .EnrollButtonContent {
    position: relative;
    top: 620px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }

  .EnrollButton {
    visibility: hidden;
    display: none;
  }

  .FollowerStars {
    gap: 3px;
  }

  .star {
    width: 16px;
  }

  .FollowerCount {
    font-size: 1rem;
  }
  .FollowerImage {
    width: 150px;
    height: 50px;
  }
  .HeaderPicture {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: -290px;
    gap: 20px;
  }

  .headerText {
    font-size: 62px;
    margin: 10px;
    max-width: 100%;
    text-align: center;
  }

  .professorTitle h3 {
    margin-top: 20px;
    font-size: 1.2 rem;
    font-weight: 600;
  }

  .professorTitle p {
    font-size: 1.2rem;
  }

  .scrollSection {
    height: 100px;
    top: 5px;
  }

  .scrollSection p {
    font-size: 28px;
    width: 95%;
    text-align: center;
  }

  .logoScroll1,
  .logoScroll2 {
    padding: 15px;
    margin-top: 20px;
  }

  .companyName {
    width: 70px;
    margin: 0 25px;
  }

  .DoughtsPart {
    margin-top: 60px;
  }

  .header2 {
    font-size: 42px;
  }

  .header1 {
    font-size: 30px;
  }

  .redLine {
    width: 50%;
    height: 10vh;
    position: relative;
    left: 0;
    top: -32px;
  }

  .SelfQuestioning {
    margin-top: -60px;
    display: flex;
    height: 240px;

  }

  .questionItem {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
  }

  .questionItem p {
    font-size: 16px;
    max-width: 80%;
    text-align: center;
    color: black;
  }
}

/* Medium Screens (Tablets, Max width: 1199px) */
@media (min-width: 1025px) and (max-width: 1199px) {
  .contentContainer {
    width: 98%;
    height: 85vh;
  }

  .headerText {
    font-size: 40px;
  }

  .FollowerImage {
    width: 140px;
  }

  .DoughtsPart {
    margin-top: 10px;
  }

  .header2 {
    font-size: 42px;
  }

  .header1 {
    font-size: 30px;
  }

  .SelfQuestioning {
    gap: 20px;
  }
  .questionItem {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
  }
  .questionItem p {
    font-size: 18px;
    max-width: 95%;
    text-align: center;
  }
  .HeaderPicture {
    width: 50%;
  }
}

/* Large Screens (Desktops, Min width: 1200px) */
@media (min-width: 1200px) and (max-width: 1250px) {
  .contentContainer {
    width: 95%;
    height: 85vh;
    padding: 10px 60px;
    margin: 20px auto;
  }

  .headerText {
    font-size: 42px;
  }

  .FollowerImage {
    width: 160px;
  }

  .DoughtsPart {
    margin-top: 20px;
  }

  .header2 {
    font-size: 45px;
  }

  .header1 {
    font-size: 32px;
  }
  .SelfQuestioning {
    height: 220px;
  }
  .questionItem {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: center;
  }
  .questionItem p {
    font-size: 16px;
    max-width: 95%;
    text-align: center;
    z-index: 9999;
  }
}
