.gateWayContainer p{
  font-family: "Hind", sans-serif!important;
  font-style: normal!important;
  display: inline;
}
.leftSideOfVideoGif{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 15px;
    row-gap: 15px;
  }
  .reviewBtn{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 109px;
    width: 222px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #553cdf;
    border-radius: 5px;
  }
  .reviewBtn .gateWayBigText{
    font-size: 40px!important;
    font-weight: 600;
    color: white;
  }
  .reviewBtn .gateWaySmallText{
    font-size: 16px;
    color: white;
  }
  .girlImage{
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    
  }
  
  .gifVideo{
    grid-row: 1/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    place-content: center;
    place-items: center;
  }
  .gifVideo img{
    grid-row: 1/1;
    grid-column: 1/1;
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .gifVideo .playBtn{
    grid-row: 1/1;
    grid-column: 1/1;
    position: relative;
  }
  
  .playBtn button{
    background-color: white;
    color: #553cdf;
    border-radius: 50%;
    /* border: #553cdf 2px solid; */
    width: 50px;
    height: 50px;
    display: flex;
    place-content: center;
    align-items: center;
  }
  
  .playBtn button::before, .playBtn button::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border: #553cdf solid 1px;
    border-radius: 50%;
  }
  .playBtn button::before{
    animation: pulse 2s ease-out infinite;
  }
  .playBtn button::after{
    animation: pulse 2s ease-out infinite;
  }
  @keyframes  pulse{
    100%{
      transform: scale(3);
      border: transparent solid 1px;
    }
  }
  .playBtn button svg{
    color: #553cdf;
    width: 25px;
  }
.rightSideOfVideoGif .gateWayRowDiv{
    display: flex;
    justify-content: space-around;
  }
  .rightSideOfVideoGif .gateWayRowDivTextOne{
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    color: #221859;
  }
  .rightSideOfVideoGif .gateWayRowDivTextTwo{
    font-weight: 500;
    font-size: 15px;
    color: gray;
  }
  
  .gateWayRowDiv img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
  }
  
  .rightSideOfVideoGif button{
    height: 55px!important;
    background-color: #553cdf;
    color: white;
  }
  .rightSideOfVideoGif button:hover{
    color: #553cdf;
    background-color: white;
    border: solid 2px #553cdf;
  }
  
  @media (max-width:768px){
    .leftSideOfVideoGif{
      display: block;
    }
    .gateWayContainer{
      display: flex;
      justify-content: center;
      gap: 30px;
      padding: 40px 0px 40px 0px;
    }
  }
  @media (min-width:1200px){
    .gateWayContainer{
      display: flex;
      height: 100vh;
      justify-content: center;
      align-items: center;
    }
    .gifVideo img{
      width: 100%;
      height: auto!important;
    }
  
  }
  @media (min-width:1400px){
    .gifVideo img{
      width: 400px;
      height: auto!important;
    }
  }