.fourStepContainer{
    background-color: #553cdf;
  }
  .fourStep{
    display: flex;
    justify-content: center;
    text-align: center;
    border-right: 1px solid rgb(183, 183, 183);
  }
  .fourStep img{
    width: 45px;
    margin-bottom: 10px;
  }
  .fourStep p
  {
    font-weight: 600;
    font-size: 19px;
    color: white;
  }
  .fourStep .fourStepTextOne{
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
  }