.detailsContainer{
    min-height: 485px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoAboutUser{
    min-height: 485px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #553cdf; */
    color: #553cdf;
    border-radius: 5px;
    background-image: url(../../assets/enrollDetails.jpeg);
    background-repeat: no-repeat;
}
.infoAboutUser p{
    font-size: 24px;
}
.inputDivs{
    margin-bottom: 20px;
    max-width: 320px;
}
.submitBtn{
    background-color: #553cdf;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
}
.submitBtn:hover{
    border:#553cdf solid 1px;
    background-color: white;
    color: #553cdf;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
