.topText{
    background-color: #004FBA;
    color: white;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height:60px;
    border-radius:0 0 15px 15px;
}    

.lowerText{
  font-size: 24px !important;
}

@media(max-width:376px){
  .DemoVenue:first-of-type{
    font-size: 12px;
  }  
  .lowerText{
    font-size: 14px !important;
  }
}